---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"64d1a5fc-f73f-492a-ac17-231a9cb52514","proceedings":[{"ccms_code":"DA005","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"08526201613363c7ca25932ea4a6e534"
    body:
      encoding: UTF-8
      string: '{"request_id":"64d1a5fc-f73f-492a-ac17-231a9cb52514","success":true,"proceedings":[{"ccms_code":"DA005","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:00 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"658ab771-d7b4-4ddf-aecd-59b2f8ea2bfd","proceedings":[{"ccms_code":"DA005","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"119f7832a7b96bc600a0c2dc12cac778"
    body:
      encoding: UTF-8
      string: '{"request_id":"658ab771-d7b4-4ddf-aecd-59b2f8ea2bfd","success":true,"proceedings":[{"ccms_code":"DA005","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:00 GMT
recorded_with: VCR 6.1.0
