---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"d5e7fb48-5964-4c5d-8047-a6f063377888","proceedings":[{"ccms_code":"DA005","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f30739d13f15fe62041806e01e107047"
    body:
      encoding: UTF-8
      string: '{"request_id":"d5e7fb48-5964-4c5d-8047-a6f063377888","success":true,"proceedings":[{"ccms_code":"DA005","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:05:52 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"3a6e890e-d0cf-4ba1-952e-1e59e725a718","proceedings":[{"ccms_code":"DA005","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8e97ca51f41669a0cf775da5a4a2e9f9"
    body:
      encoding: UTF-8
      string: '{"request_id":"3a6e890e-d0cf-4ba1-952e-1e59e725a718","success":true,"proceedings":[{"ccms_code":"DA005","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:05:52 GMT
recorded_with: VCR 6.1.0
