---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"1f7f6613-78d4-42a6-b5c6-24e774d375fe","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"60217411ab8f94b8060d900fd5b3457d"
    body:
      encoding: UTF-8
      string: '{"request_id":"1f7f6613-78d4-42a6-b5c6-24e774d375fe","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:20 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"2c11b2f5-12a4-40c6-9c29-37558a143a41","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e88d7cdba2dcd1fc3ca5207e75f8d2d"
    body:
      encoding: UTF-8
      string: '{"request_id":"2c11b2f5-12a4-40c6-9c29-37558a143a41","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:20 GMT
recorded_with: VCR 6.1.0
