---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"320a48c1-97a5-4619-b87b-e6fe65826ef5","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"82a1cad756252a0feed2991ccbc1ba34"
    body:
      encoding: UTF-8
      string: '{"request_id":"320a48c1-97a5-4619-b87b-e6fe65826ef5","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:05:38 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"e7f787fa-3f23-4f5c-bb34-4179e2212069","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f41c5b998f6ee307885cc39b256ca67d"
    body:
      encoding: UTF-8
      string: '{"request_id":"e7f787fa-3f23-4f5c-bb34-4179e2212069","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:05:39 GMT
recorded_with: VCR 6.1.0
