---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"06857bf6-605e-4d4c-9d82-5fccde81e392","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"},{"ccms_code":"SE013","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9cc36a9de7b5db60a79be74837fff7ca"
    body:
      encoding: UTF-8
      string: '{"request_id":"06857bf6-605e-4d4c-9d82-5fccde81e392","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"},{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:08 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"d3733e9a-75dc-4e48-9f11-16738bedc77e","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"},{"ccms_code":"SE013","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"79a5d4f59a6b8d53c42d72f5212d7bef"
    body:
      encoding: UTF-8
      string: '{"request_id":"d3733e9a-75dc-4e48-9f11-16738bedc77e","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"},{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:08 GMT
recorded_with: VCR 6.1.0
