---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"9df75026-ec1f-4760-8cce-aaf73a2876f9","proceedings":[{"ccms_code":"SE013","client_involvement_type":"A"},{"ccms_code":"SE014","client_involvement_type":"D"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"227a9de2cbe812f7c8838c3d9447ea8d"
    body:
      encoding: UTF-8
      string: '{"request_id":"9df75026-ec1f-4760-8cce-aaf73a2876f9","success":true,"proceedings":[{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"},{"ccms_code":"SE014","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"}]}'
  recorded_at: Mon, 13 Mar 2023 09:05:55 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"df0882d8-d0a2-461b-9106-af5787f59664","proceedings":[{"ccms_code":"SE013","client_involvement_type":"A"},{"ccms_code":"SE014","client_involvement_type":"D"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0e9ab0e5766d4af8ea9ff8b8c778bd4c"
    body:
      encoding: UTF-8
      string: '{"request_id":"df0882d8-d0a2-461b-9106-af5787f59664","success":true,"proceedings":[{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"},{"ccms_code":"SE014","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"}]}'
  recorded_at: Mon, 13 Mar 2023 09:05:56 GMT
recorded_with: VCR 6.1.0
