---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"1a608629-09e1-4ebd-a29e-870deae66895","proceedings":[{"ccms_code":"DA001","client_involvement_type":"D"},{"ccms_code":"SE013","client_involvement_type":"D"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"aa99e070794d091d71640eed6fa3d4f3"
    body:
      encoding: UTF-8
      string: '{"request_id":"1a608629-09e1-4ebd-a29e-870deae66895","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"},{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:19 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"b1789261-ea54-44aa-9fb3-47690b160472","proceedings":[{"ccms_code":"DA001","client_involvement_type":"D"},{"ccms_code":"SE013","client_involvement_type":"D"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4bd069dfc784361057f637b7b52a4d20"
    body:
      encoding: UTF-8
      string: '{"request_id":"b1789261-ea54-44aa-9fb3-47690b160472","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"},{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:19 GMT
recorded_with: VCR 6.1.0
