---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"fcbd03d8-e959-4a32-9232-67689af3d373","proceedings":[{"ccms_code":"SE013","client_involvement_type":"D"},{"ccms_code":"SE014","client_involvement_type":"W"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2e64fd0020d3fe53a26c5dc6e0494bda"
    body:
      encoding: UTF-8
      string: '{"request_id":"fcbd03d8-e959-4a32-9232-67689af3d373","success":true,"proceedings":[{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"},{"ccms_code":"SE014","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"W"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:13 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"e765b699-59a0-426e-b1df-3092b576249e","proceedings":[{"ccms_code":"SE013","client_involvement_type":"D"},{"ccms_code":"SE014","client_involvement_type":"W"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ef340e639997f29701ddf28ca36efcab"
    body:
      encoding: UTF-8
      string: '{"request_id":"e765b699-59a0-426e-b1df-3092b576249e","success":true,"proceedings":[{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"},{"ccms_code":"SE014","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"W"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:13 GMT
recorded_with: VCR 6.1.0
