---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"6f54094d-270c-49d3-a1b1-be1d47a92ab0","proceedings":[{"ccms_code":"DA001","client_involvement_type":"D"},{"ccms_code":"SE013","client_involvement_type":"D"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"36ccde04c118874645abb2da0ab845e9"
    body:
      encoding: UTF-8
      string: '{"request_id":"6f54094d-270c-49d3-a1b1-be1d47a92ab0","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"},{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"}]}'
  recorded_at: Mon, 13 Mar 2023 09:05:34 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"1f7a2cea-db46-4f03-b4c5-f7913bf3a3c3","proceedings":[{"ccms_code":"DA001","client_involvement_type":"D"},{"ccms_code":"SE013","client_involvement_type":"D"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0a5550b4831fce07c4a06e8681d641d2"
    body:
      encoding: UTF-8
      string: '{"request_id":"1f7a2cea-db46-4f03-b4c5-f7913bf3a3c3","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"},{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"D"}]}'
  recorded_at: Mon, 13 Mar 2023 09:05:34 GMT
recorded_with: VCR 6.1.0
