---
http_interactions:
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"bcd82146-99fa-4299-8e96-74bef6b876b4","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"},{"ccms_code":"SE013","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"545308ad24a4a1ee09deca1aeb4e0082"
    body:
      encoding: UTF-8
      string: '{"request_id":"bcd82146-99fa-4299-8e96-74bef6b876b4","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"},{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:10 GMT
- request:
    method: post
    uri: https://legal-framework-api-staging.cloud-platform.service.justice.gov.uk/threshold_waivers
    body:
      encoding: UTF-8
      string: '{"request_id":"7c307e42-9a86-491a-8a3a-4e6d1928eda2","proceedings":[{"ccms_code":"DA001","client_involvement_type":"A"},{"ccms_code":"SE013","client_involvement_type":"A"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9d6c6cd530bfaba8ad4b7e345f71de37"
    body:
      encoding: UTF-8
      string: '{"request_id":"7c307e42-9a86-491a-8a3a-4e6d1928eda2","success":true,"proceedings":[{"ccms_code":"DA001","full_s8_only":false,"matter_type":"Domestic
        abuse","gross_income_upper":true,"disposable_income_upper":true,"capital_upper":true,"client_involvement_type":"A"},{"ccms_code":"SE013","full_s8_only":false,"matter_type":"Children
        - section 8","gross_income_upper":false,"disposable_income_upper":false,"capital_upper":false,"client_involvement_type":"A"}]}'
  recorded_at: Mon, 13 Mar 2023 09:06:10 GMT
recorded_with: VCR 6.1.0
